/* Base styles */
body {
  margin: 0;
  font-family: 'Tahoma', Helvetica, sans-serif;
  background-color: #fff;
  color: #ec1f27;
}

/* Navigation bar styles */
.navbar {
  background-color: #f6f6ef;
  padding: 1.5rem 1rem;
  display: flex;
  justify-content: left;
  align-items: center;
}

.navbar a {
  color: #154245;
  text-decoration: none;
  padding: 0.5rem 1rem;
  font-weight: normal;
}

.navbar .logo-image {
  margin-left: 11rem;
  height: 40px; /* Adjust the height as needed */
  width: auto;
}

/* Body section styles */
.body-section {
  display: flex;
  padding: 0;
}

.text-block {
  flex: 1;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center the content vertically */
  margin-right: 8rem; /* Adjust the right margin as needed */
  background-color: #fff;
}

.text-block .section-title {
  font-family: 'Tahoma', Helvetica, sans-serif;
  font-size: 4rem; /* Example size, adjust as needed */
  color: #000000; /* Example color, adjust as needed */
  text-align: left;
  line-height: 1; /* Adjust this value as needed */
  margin-left: 11rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem; /* Spacing between the title and the headline */
  font-weight: bold; /* Optional: if you want the title to be bold */
}

.text-block .section-title .highlight {
  color: #de8a27; /* The new color for the single word */
  font-weight: bold; /* Optional: if you want the word to be bold */
}

.text-block .subheadline {
  font-family: 'Tahoma', sans-serif;
  font-size: 1.3rem; 
  color: #666; 
  line-height: 1.6; 
  text-align: left; 
  margin-left: 11rem;
  margin-bottom: 0rem; 
  font-style: normal; 
} 

/* .text-block .headline {
  font-family: 'Tahoma', Helvetica, sans-serif;
  font-size: 2rem; 
  color: #ec1f27; 
  text-align: left; 
  margin-bottom: 0rem; 
  display: flex; 
  align-items: center; 
  font-weight: normal; 
} */

/* If you have a .cta-button inside .text-block and want to customize it as well */
.text-block .cta-button {
  font-family: 'Arial', Helvetica, sans-serif;
  background-color: #4CAF50; /* Custom button color */
  color: #fff; /* Text color for the button */
  padding: 12px 20px; /* Padding inside the button */
  text-decoration: none; /* Remove underline from the text */
  border-radius: 5px; /* Rounded corners for the button */
  display: inline-block; /* Allows setting padding and margins */
  margin-top: 2.5rem; /* Space above the button */
  width: 20%; /* Adjust the width to your preference */
  margin-left: 11rem; /* Add space between the headline text and the button */
  font-size: 1.3rem;
  font-weight: bold; /* Bold text */
  text-align: center; /* Center text */
  transition: background-color 0.3s; /* Smooth transition for hover effect */
}

.text-block .cta-button:hover {
  background-color: #154245; /* Different color when hovered over */
}

/* Container for the image and stat cards */
.image-stats-container {
  position: relative; /* This allows absolute positioning relative to this container */
  flex: 1; /* Ensures it takes up the appropriate space in the flex container */
  
}

.image-block {
  flex: 1;
}

.image-block img {
  max-width: 733px; /* Fixed width */
  height: auto; /* Height is auto to maintain aspect ratio */
}

/* Statistic cards overlay */
.stats-overlay {
  position: absolute;
  top: 77px; /* Adjust this value to position the stat cards as desired */
  right: 620px; /* Adjust this value to position the stat cards as desired */
  /* Removed the transform property since we're positioning from the top right corner */
}

.stats-card {
  background-color: #f6f6ef;
  padding: 1.2rem; /* Reduced padding to make cards shorter */
  margin: 2rem 0;
  margin-left: 11rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  width: 200px; /* Fixed width */
  text-align: center;
  border-radius: 24px;
}

.stats-card h3 {
  font-size: 2rem;
  color: #154245; /* Green color */
  font-weight: bold; /* Make the text bold */
  margin-top: 0.75rem; /* Reduce top margin to bring text closer to top of card*/
  margin-bottom: 0.5rem; /* Reduce bottom margin to bring closer to the paragraph */
}

.stats-card p {
  font-size: 1rem;
  color: #666;
  margin-top: 0.75rem; /* Reduce top margin to bring closer to the heading */
}

/* Footer styles */
.footer {
  text-align: center;
  padding: 1rem;
  background-color: #f6f6ef;
  color: #154245;
}

/* Responsive behavior */
@media (max-width: 768px) {
  .header,
  .navbar {
    flex-direction: column;
  }

  .body-section {
    flex-direction: column;
  }

  .stats-overlay {
    top: initial;
    bottom: 10px; /* Position at the bottom of the image container on small screens */
    right: 10px; /* Adjust as needed for small screens */
  }

  .stats-card {
    width: 150px;
  }
  
  .image-block img {
    width: 100%; /* Full width on small screens */
    max-width: 500px; /* Max-width to ensure it doesn't get too big */
  } 
    
  .image-stats-container {
    flex-direction: column; /* Stack image and stats on small screens */
  }
}
